# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
permissions:
  contents: write
  security-events: write
jobs:
  build:
    environment: production
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'oracle'
        cache: maven
    - name: Build with Maven
      env:
        SPRING_PROFILES_ACTIVE: ${{ vars.SPRING_PROFILES_ACTIVE }}
        SENTRY_DSN: ${{ vars.SENTRY_DSN }}
        SPRING_DATASOURCE_JDBCURL: ${{ vars.SPRING_DATASOURCE_JDBCURL }}
        SPRING_SECOND_DATASOURCE_JDBCURL: ${{ vars.SPRING_SECOND_DATASOURCE_JDBCURL }}
        SPRING_REDIS_HOST: ${{ vars.SPRING_REDIS_HOST }}
        SPRING_REDIS_PORT: ${{ vars.SPRING_REDIS_PORT }}
        APP_SECRET: ${{ secrets.APP_SECRET }}
        SPRING_DATASOURCE_PASSWORD: ${{ secrets.SPRING_DATASOURCE_PASSWORD }}
        SPRING_DATASOURCE_USERNAME: ${{ secrets.SPRING_DATASOURCE_USERNAME }}
        SPRING_SECOND_DATASOURCE_PASSWORD: ${{ secrets.SPRING_SECOND_DATASOURCE_PASSWORD }}
        SPRING_SECOND_DATASOURCE_USERNAME: ${{ secrets.SPRING_SECOND_DATASOURCE_USERNAME }}
        SPRING_MAIL_PASSWORD: ${{ secrets.SPRING_MAIL_PASSWORD }}
        SPRING_MAIL_USERNAME: ${{ secrets.SPRING_MAIL_USERNAME }}
        SPRING_REDIS_USERNAME: ${{ secrets.SPRING_REDIS_USERNAME }}
        SPRING_REDIS_PASSWORD: ${{ secrets.SPRING_REDIS_PASSWORD }}
      run: mvn -B package --file pom.xml

    # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
    - name: Update dependency graph
      uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6
    - name: Debug Variables
      run: |
        echo '${{ vars.SPRING_PROFILES_ACTIVE }}'